//Variablen
$font: Verdana, monospace;
$white: rgb(255, 255, 255);
$black: #000000;
$green: rgba(47, 215, 28, 0.8);
$red: rgba(239, 0, 0, 0.8);

$backgroundBox: rgba(255, 255, 255, 0.5);
$boxShadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);


